

/*------------------------------------
        Sign Up 
-------------------------------------*/

.signUp{
  
    background-color: #f5f5dc;
    padding:10px;
	margin-top:5%;
	margin-bottom:5%;
	margin-right:30%;
	margin-left:30%;
	text-align:center; 
}

#h1sign{
    color:#000000;
    text-align: center;
	text-decoration:sans;
}
#h4sign{
    color:#000000;
    text-align: center;
}


.txts{
    color:rgb(2, 2, 2);
    text-align: left;
    width:50%;
    height: 24px;
    margin: auto;

}

#btns{
    size: 100px;
    margin-top: 3%;
     padding: auto;
     color: rgb(255, 255, 255);
     background-color: rgb(162, 222, 229);
 }

 .para{
    color:#000000;
    width:50%;
    height: 24px;
    margin: auto;

 }
/*------------------------------------
         Sign Up End
-------------------------------------*/

/*------------------------------------
        Login 
-------------------------------------*/

.Login{
     background-image: url(../Elite-Tailoring/assets/SignupLogin/sign.webp);
    background-color: #f5f5dc;
    padding:10px;
	margin-top:5%;
	margin-bottom:5%;
	margin-right:30%;
	margin-left:30%;
	text-align:center; 
}
#h1log{
    color:#000000;
    text-align: center;
	text-decoration:sans;
}
.txtu{
    color:rgb(2, 2, 2);
    background-color: rgb(248, 245, 240);
    text-align: left;
    width:50%;
    height: 24px;
    margin: auto;

}

#btnl{
    size: 100px;
    margin-top: 3%;
     padding: auto;
     color: rgb(255, 255, 255);
     background-color: rgb(162, 222, 229);
}
/*------------------------------------
         Login End
-------------------------------------*/

/*------------------------------------
         Contact Us
-------------------------------------*/
#ContactusForm{
     background-color: #f5f5dc;
    padding:10px;
	margin-top:5%;
	margin-bottom:5%;
	margin-right:30%;
	margin-left:30%;
	text-align:center; 
   
}
#contactHead{
    
    text-align: left;
}

.txtcn{
    color:rgb(2, 2, 2);
    background-color: rgb(248, 245, 240);
    text-align: left;
    width:50%;
    height: 35px;
    margin: auto;

}

/*------------------------------------
         Contact Us End
-------------------------------------*/