/*---Importing Font Families---*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600&display=swap');

:root{
    /*---font families---*/
    --primary-font: Poppins;
    --secondary-font: Jost;
    --third-font: Raleway;

    /*---Colors---*/
    --black-primary: #111212;
    --black-secondary: #2e2e2d;
    --grey-primary: #d4d0d0;
    --grey-secondary: #575757;
    --grey-third: #6e6e6e;
    --grey-fourth: #636363;
    --blue-primary: #0037ad;
    --white-primary: #ffffff;
    --white-secondary: #ebebeb;
    --red-primary: #f51307;
    
    
    box-sizing: border-box;
}

/*---------------------------------------
        Navigation bar styles
-----------------------------------------*/  
a{
    text-decoration: none;
    color: var(--black-primary);
}
button{
    background: none;
    border: none;
}
nav{
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-upper-section{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--grey-primary);
    font-family: var(--secondary-font);
}
.nav-upper-section .nav-signin-btn a{
    font-family: var(--secondary-font);
    font-size: 0.9rem;
}
.nav-wishlit-btn{
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-middle-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.nav-logo{
    flex: 2;
    text-align: center;
    font-size: 2rem;
}
.nav-logo a img{
    width: 6rem;
}
.nav-searchbar{
    flex: 3;
}
.nav-middle-section .nav-searchbar input{
    outline: none;
    border: none;
    width: 20rem;
    border-bottom: 1px solid var(--black-primary);
    font-family: var(--secondary-font);
}
.nav-middle-section .nav-searchbar input[type="submit"]{
    position: relative;
    left: -0.9rem;
    z-index: -1;
    width: 0.2rem;
    opacity: 0;
}
.nav-middle-section .nav-searchbar input::placeholder{
    font-family: var(--secondary-font);
    font-size: 1rem;
}
.nav-menu{
    flex: 3;
    display: flex;
    justify-content: space-between;
}
.nav-menu a{
    font-weight: 500;
}


/*------------------------------------
            Login Page
------------------------------------*/
.login-popup-container{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 99;
}
.login-popup-active {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.login-popup-container .login-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.login-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-form h2{
    font-family: var(--secondary-font);
    text-align: center;
}
.login-form-element label{
    font-family: var(--secondary-font);
}
.login-form-element input{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--grey-primary);
    font-family: var(--secondary-font);
}
.login-form-element input[type="submit"]{
    margin-top: 1rem;
}
#login-password{
    margin-top: 1rem;
}
#remember-me{
    border: none;
}
.login-form-element a{
    font-family: var(--secondary-font);
}
.login-form-element input[type="text"]{
    margin-bottom: 1rem;
}
.login-form-element input[type="text"],
.login-form-element input[type="email"],
.login-form-element input[type="password"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}
.login-form-element input[type="checkbox"] {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}
.login-form-element input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--black-primary);
    color: var(--white-primary);
    font-size: 1.3rem;
}


/*-------------------------------------
            Register Form
-------------------------------------*/
.register-form-display{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30rem;
}
#register-btn{
    margin-top: 2rem;
}
#gender-select{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*----------------------------------------
       Header Styles End
-----------------------------------------*/

/*--------------------------------------------
        Customizatio Giude Styles Start
---------------------------------------------*/ 

.customization-guide-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-family: var(--secondary-font);
}
.customization-guide-title{
    margin-bottom: 1rem;
}
.customization-guide-container .customization-guide-title h1{
    color: var(--black-secondary);
    font-weight: 500;
    letter-spacing: 0.3rem;
}
.customization-guide-contetnt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.customization-guide-contetnt .customization-guide-images img{
    width: 50%;
}
.customization-guide-images{
    width: 50%;
    
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.left p{
    text-align: right;
}
.left h3{
    text-align: right;
}
.customization-guide-contetnt .customization-guide-content-text{
    width: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
}
.customization-guide-contetnt .customization-guide-content-text h3{
    color: var(--black-secondary);
    font-size: 2rem;
    margin: 0rem;
    font-weight: 400;
}
.customization-guide-contetnt .customization-guide-content-text p{
    font-size: 1.3rem;
    width: 50%;
    color: var(--grey-third);
}
.customization-guide-contetnt .customization-guide-content-text a{
    text-decoration: underline;
    font-size: 1.3rem;
    color: var(--grey-fourth);
}
.customization-guide-footer-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.customization-guide-footer-image img{
    width: 70%;
}

/*--------------------------------------------
        Customizatio Giude Styles End
---------------------------------------------*/



/*---------------------------------------
        Footer Styles start
-----------------------------------------*/ 
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid var(--grey-third);
}
.footer-logo{
    position: relative;
    top: 5rem;
}
.footer-logo img{
    width: 5rem;
}
footer h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-primary);
    position: relative;
    top: 1rem;
}
footer a, p{
    font-size: 0.9rem;
}
.footer-logo, .footer-contact, .footer-orders, .footer-policies, .footer-about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem;
    font-family: var(--primary-font);
}
.footer-contact p{
    margin: 0rem;
    padding: 0rem;
}


/*---------------------------------------ss
        Footer Styles End
-----------------------------------------*/ 


/*---------------------------------------
        Shopping Cart Styles start
-----------------------------------------*/ 

.shoppingcart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--primary-font);
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
.shoppingcart-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.shoppingcart-title h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    background-color: var(--black-primary);
    color: var(--white-primary);
    width: 20rem;
    text-align: center;
    padding: 0.8rem;

}
.view-aded-products{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: var(--white-secondary);
}
.shoppingcart-title-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;   
    /*border-bottom: 1px solid var(--black-primary);*/
}
.shoppingcart-title-line h6{
    font-size: 1rem;
    margin-right: 2rem;
    font-weight: 500;
}
.shopingcart-product-details-section{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.shoppingcart-product-image{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shoppingcart-product-image img{
    width: 50%;
}
.shoppingcart-product-details{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.shoppingcart-product-details-attributes{
    display: flex;
}
.attribute-name{
    font-weight: 500;
    margin-right: 0.3rem;

}
.shoppingcart-product-details-price{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.shoppingcart-product-details-quantity{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.view-total-amount{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    width: 25%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: var(--white-secondary);
    height: 20rem;
}
.view-total-amount button[type=submit]{
    background-color: var(--red-primary);
    outline: none;
    border: none;
    padding: 1rem;
    font-family: var(--primary-font);
    font-size: 1rem;
    margin: 1rem;
    width: 90%;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    cursor: pointer;
}
.view-total-amount button a{
    color: var(--white-primary);
}
.shoppingcart-pricing{
    display: flex;
    justify-content: flex-start;
}
.shoppingcart-pricing-attribute-name{
    margin-right: 3rem;
}
/*---------------------------------------
        Shopping Cart Styles End
-----------------------------------------*/ 


/*---------------------------------------
        Online Store Styles Start
-----------------------------------------*/ 


.store-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--primary-font);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.store-filter-section{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--black-secondary);
    margin-top: 0.9rem;
    
}
.store-filter-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.store-filter-title{
    font-size: 1.1rem;
    color: var(--black-secondary);
    border-bottom: 1px solid var(--black-secondary);
}
#select-color-title{
    display: block;
}
.store-filter-section form input[type=submit]{
    background-color: var(--black-secondary);
    color: var(--white-primary);
    font-size: 0.9rem;
    border: none;
    outline: none;
    font-family: var(--primary-font);
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-top: 1rem;
    width: 7rem;
}
.form-colors, .form-sizes{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.filter-form-single-color, .filter-form-single-size{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.store-product-display{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 1.8rem;
}
.store-product-card{
    background-color: var(--white-secondary);
    width: 30%;
    height: 25.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.3rem;
}
.store-product-card-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.store-product-card-image img{
    width: 13rem;
}
.store-product-card-name{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.store-product-card-pricing{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.store-product-card-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.store-product-card-cart a{
    margin-left: 1.5rem;
}

/*---------------------------------------
        Online Store Styles End
-----------------------------------------*/

/*---------------------------------------
        Return Policy Styles Start
-----------------------------------------*/ 

.return-policy-container{
    font-family: var(--secondary-font);
    margin: 3rem;
}
.return-policy-main-title{
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
}
.return-policy-content{
    font-size: 1rem;
}
.return-policy-tittle{
    font-size: 1rem;
    font-weight: 500;
}


/*---------------------------------------
        Return Policy Styles End
-----------------------------------------*/ 


/*-------------------------------------------
        Product Details Styles Start
--------------------------------------------*/ 

.product-details-container{
    margin: 2rem auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-family: var(--primary-font);
}
.product-details-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.product-details-image img{
    width: 30rem;
}
.product-details-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product-details-content-name h4{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0rem;
    padding-top: 0rem;
}
.product-details-content-price{
    position: relative;
    top: -1.5rem;
}
.product-details-content-price-price{
    font-weight: 600;
    font-size: 1.3rem;
}
.product-details-content-colors{
    margin-bottom: 1.5rem;
    width: 33rem;
    position: relative;
    top: -0.5rem;
}
.product-details-content-colors p{
    font-weight: 600;
}
.product-details-content-colors-name{
    font-weight: 500;
}
.product-details-content-colors form input[type="submit"]{
    background-color: var(--black-secondary);
    border: none;
    outline: none;
    font-family: var(--primary-font);
    color: var(--white-primary);
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: block;
    margin-top: 0.5rem;
    width: 8rem;
}
.product-details-order-type{
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--black-secondary);
    width: 20rem;
    
}
.product-details-order-type button{
    background-color: var(--black-secondary);
    color: var(--white-primary);
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-right: 1.5rem;
    width: 8rem;
    font-family: var(--primary-font);
}
#product-details-content-sizes{
    width: 33rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--black-secondary);
    padding-bottom: 1rem;
}
#product-details-content-sizes form input[type="submit"]{
    background-color: var(--white-primary);
    padding: 0.8rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: var(--black-primary);
    height: 2.8rem;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    margin-top: 1.8rem;
    cursor: pointer;
    border: 1px solid var(--black-primary);
    text-align: center;
    width: 16rem;
}
#product-details-content-sizes form input[type="submit"]:hover{
    background-color: var(--black-primary);
    color: var(--white-primary);
}
#product-details-content-quantity{
    width: 33rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--black-secondary);
    padding-bottom: 1rem;
}

#product-details-content-sizes form input[type="number"]{
    background-color: var(--white-secondary);
    outline: none;
    padding: 0.5rem;
    border: none;
    width: 3rem;
    text-align: center;
    display: block;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
#product-details-content-quantity form input[type="submit"]{
    background-color: var(--black-secondary);
    border: none;
    outline: none;
    font-family: var(--primary-font);
    color: var(--white-primary);
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: block;
    margin-top: 1.5rem;
    width: 8rem;
    display: block;
}
#product-details-content-custom-sizes{
    margin-bottom: 1rem;
    /*border-bottom: 1px solid var(--black-secondary);*/
    padding-bottom: 1rem;
}
#product-details-content-custom-sizes a{
    text-decoration: underline;
    font-family: var(--secondary-font);
    text-underline-offset: 0.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.product-details-content-addtocart{
    margin-top: 2rem;
}
#submit-order{
    background-color: var(--white-primary);
    padding: 0.8rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: var(--black-primary);
    height: 2.8rem;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    margin-top: 1.8rem;
    cursor: pointer;
    border: 1px solid var(--black-primary);
    text-align: center;
    width: 16rem;
}
#product-details-content-addtocart-addtocart{
    background-color: var(--black-primary);
    padding: 0.8rem;
    color: var(--white-primary);
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    height: 2.8rem;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    margin-top: 1.8rem;
    margin-right: 1rem;
    cursor: pointer;
    
}
.product-details-content-addtocart-checkout{
    background-color: var(--white-primary);
    padding: 0.8rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: var(--black-primary);
    height: 2.8rem;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    margin-top: 1.8rem;
    cursor: pointer;
    border: 1px solid var(--black-primary);
}
.product-details-content-addtocart-checkout:hover{
    background-color: var(--red-primary);
    color: var(--white-primary);
    border: none;
}

/*---------------------------------------
        Product Details Styles End
-----------------------------------------*/ 


/*---------------------------------------
        Wishlist Styles Start
-----------------------------------------*/ 
.wishlist-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.wishlist-title h3{
    font-family: var(--secondary-font);
    font-weight: 500;
    background-color: var(--black-primary);
    color: var(--white-primary);
    width: 20rem;
    text-align: center;
    padding: 0.8rem;
}
.wishlist-container{
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.wishlist-container .store-product-card{
    font-family: var(--primary-font);
    width: 18rem;
}
/*---------------------------------------
        Wishlist Styles End
-----------------------------------------*/


/*---------------------------------------
        About Styles Start
-----------------------------------------*/
.aboutus-img img{
    width: 60rem;
}
#welcome{
    font-size:x-large;
}
.aboutus-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.aboutus-title{
    text-align: center;
    margin-bottom: 0.4rem;
}
.aboutus-title h1{
    font-family: var(--secondary-font);
    color: var(--black-secondary);
    font-weight: 500;
    letter-spacing: 0.3rem;
}
.aboutus-content{
    margin-bottom: 2rem;
}
.aboutus-content p{
    font-family: var(--primary-font);
    font-size: 1rem;
}
/*---------------------------------------
        About Styles End
-----------------------------------------*/

/*---------------------------------------
        User Account Page Styles Start
-----------------------------------------*/
.user-welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-right: 3rem;
}
.user-welcome-msg{
    font-family: var(--secondary-font);
    font-size: 2rem;
}
.user-welcome-msg p{
    margin: 0rem;
    padding: 0rem;
}
.useraccount-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--secondary-font);
    margin: 3rem;
    margin-top: 0rem;
}
.user-details-container{
    width: 80%;
    background-color: var(--white-secondary);
    padding: 2rem;
}
.user-details-names{
    display: flex;
    margin: 0rem;
}
.user-detail-first-name-title, .user-detail-last-name-title{
    margin: 0rem;
    padding: 0rem;
    margin-right: 1rem;
    font-size: 1rem;
}
.user-detail-first-name-value, .user-detail-last-name-value{
    margin: 0rem;
    padding: 0rem;
    margin-right: 1rem;
}
.user-details-first-name, .user-details-last-name{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.user-detail-first-name-value, .user-detail-last-name-value{
    font-size: 0.75rem;
    font-family: var(--primary-font);
}
.user-details-names, .user-details-email, .user-details-address, .user-details-number{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.user-details-container input[type="text"],
.user-details-container input[type="email"]{
    outline: none;
    border: none;
    background-color: var(--white-secondary);
    font-family: var(--primary-font);
    font-size: 0.75rem;
    width: max-content;
}
.user-details-email form,
.user-details-address form,
.user-details-number form{
    display: flex;
    flex-direction: column;
}
.user-details-email form input[type="email"],
.user-details-address form input[type="text"],
.user-details-number form input[type="text"]{
    margin-left: 4.6rem;
    width: 30rem;
}
.user-details-email form input[type="submit"],
.user-details-address form input[type="submit"],
.user-details-number form input[type="submit"]{
    width: 14rem;
    margin-left: 20rem;
    padding: 0.5rem;
    text-align: center;
    font-family: var(--primary-font);
    border: 1px solid var(--black-primary);
    background-color: var(--white-secondary);
}
.user-details-email form input[type="submit"]:hover,
.user-details-address form input[type="submit"]:hover,
.user-details-number form input[type="submit"]:hover{
    color: var(--white-primary);
    background-color: var(--black-primary);
}

.logout-btn-section form input[type="submit"]{
    width: 14rem;
    padding: 0.5rem;
    text-align: center;
    font-family: var(--primary-font);
    border: 1px solid var(--black-primary);
    background-color: var(--white-primary);
}
.logout-btn-section form input[type="submit"]:hover{
    color: var(--white-primary);
    background-color: var(--black-primary);
}
.user-account-login-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    font-family: var(--secondary-font);
}
.user-account-login-msg p{
    font-size: 3rem;
    color: var(--black-secondary);
}
.measurements-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
    margin-bottom: 2rem;
}
.measurements-link a{
    border: 1px solid var(--black-primary);
    padding: 0.5rem;
}
.measurements-link a:hover{
    background-color: var(--black-primary);
    color: var(--white-primary);
}
/*---------------------------------------
        User Account Page Styles End
-----------------------------------------*/


/*---------------------------------------
        Edit Email Page Styles Start
-----------------------------------------*/

.editemail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.editemail-container h2{
    font-family: var(--secondary-font);
}
.editemail-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editemail-container form input{
    margin-bottom: 1rem;
    border: 1px solid var(--black-primary);
    outline: none;
    width: 15rem;
    height: 1.7rem;
    font-family: var(--primary-font);
    text-align: center;
}
.editemail-container form input[type="submit"]{
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--black-primary);
    outline: none;
    width: 12rem;
    height: 2rem;
    font-family: var(--primary-font);
    text-align: center;
    background-color: var(--white-primary);
}
.editemail-container form input[type="submit"]:hover{
    color: var(--white-primary);
    background-color: var(--black-primary);
}

/*Above styles are same for edit email, edit address, edit contact number pages.
/*---------------------------------------
        Edit Email Page Styles End
-----------------------------------------*/

/*---------------------------------------
        Index Page Styles Start
-----------------------------------------*/

/*-----Slide Show------*/
.slideshow-container {
    max-width: 80rem;;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Slideshow-container{
    max-width: 80rem;;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.active {
    background-color: #717171;
}
.active {
    background-color: #717171;
}  
/* Fading animation */
.fade {

    animation-name: fade;
    animation-duration: 1.5s;

}
.Fade{

    animation-name: fade;
    animation-duration: 1.5s;

}

  
@keyframes fade {
    from {opacity: .9} 
    to {opacity: 1}

}
  
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.home-navigations{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
}
.home-navigation-card{
    width: 20rem;
    height: 20rem;
    background-color: var(--blue-primary);
    font-family: var(--primary-font);
    box-shadow: 1px 4px 10px var(--grey-third);
}
.home-navigation-card:hover .home-navigation-card-img img{
    filter: grayscale(100%);
}
.home-navigation-card-img{
    overflow: hidden;
}
#visit-store-home{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.home-navigation-card-img img{
    width: 20rem;    
}
.home-navigation-card-img-link{
    display: none;
    z-index: 98;
    position: relative;
    top: -10rem;
    text-align: center;
}
.home-navigation-card:hover .home-navigation-card-img-link{
    display: block;
    color: var(--white-primary);
    overflow: var(--white-secondary);
}
.home-navigation-card-img-link a{
    padding: 1rem;
}
.home-navigation-card:hover .home-navigation-card-img-link a{
    color: var(--white-primary);
    background-color: var(--black-primary);
    padding: 0.5rem;
    font-weight: 500;
}


/*---------------------------------------
        Index Page Styles End
-----------------------------------------*/



/*--------------------------------------------
        Appointment Page Styles Start
---------------------------------------------*/

.appointment-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
}
.appointment-title h1{
    font-family: var(--secondary-font);
    color: var(--black-secondary);
    font-weight: 500;
    letter-spacing: 0.3rem;
}
.appointment-form-fields{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.appointment-form-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6rem;
}
.appointment-form-container form label{
    font-family: var(--primary-font);
    display: block;
}
.appointment-form-container form input[type="email"],
.appointment-form-container form input[type="text"],
.appointment-form-container form input[type="date"],
.appointment-form-container form input[type="time"]{
    border: none;
    outline: none;
    background-color: var(--white-secondary);
    width: 14rem;
    text-align: center;
    height: 1.7rem;
    font-family: var(--primary-font);
    font-size: 0.9rem;
}
.appointment-form-container form input[type="submit"]{
    background-color: var(--white-primary);
    border: 1px solid var(--black-primary);
    font-family: var(--primary-font);
    width: 10rem;
    padding: 0.6rem;
    margin-top: 1rem;
    position: relative;
    left: -38rem;
    top: 5rem;
} 
.appointment-form-container form input[type="submit"]:hover{
    background-color: var(--black-primary);
    border: 1px solid var(--black-primary);
    color: var(--white-primary);
} 
/*--------------------------------------------
        Appointment Page Styles End
---------------------------------------------*/

/*----------------------------------------------
        Measurements Page Styles start
-----------------------------------------------*/
.measurements-page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
}
.measurements-page-title h1{
    font-family: var(--secondary-font);
    color: var(--black-secondary);
    font-weight: 500;
    letter-spacing: 0.3rem;
}
.measurements-form-element{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#measurements-form-male{
    font-family: var(--primary-font);
}
#measurements-form-female{
    font-family: var(--primary-font);
}
#measurements-form-male label{
    display: block;
}
#measurements-form-female label{
    display: block;
}
#measurements-form-male input[type="text"]{
    width: 10rem;
    outline: none;
    border: none;
    background-color: var(--white-secondary);
    padding: 0.8rem;
}
#measurements-form-female input[type="text"]{
    width: 10rem;
    outline: none;
    border: none;
    background-color: var(--white-secondary);
    padding: 0.8rem;
}
#measurements-form-male input[type="submit"]{
    width: 11.7rem;
    outline: none;
    border: none;
    background-color: var(--white-primary);
    border: 1px solid var(--black-primary);
    padding: 0.8rem;
    font-family: var(--primary-font);
    margin-top: 1rem;
}
#measurements-form-female input[type="submit"]{
    width: 11.7rem;
    outline: none;
    border: none;
    background-color: var(--white-primary);
    border: 1px solid var(--black-primary);
    padding: 0.8rem;
    font-family: var(--primary-font);
    margin-top: 1rem;
}
#measurements-form-male input[type="submit"]:hover{
    background-color: var(--black-primary);
    color: white;
}
#measurements-form-female input[type="submit"]:hover{
    background-color: var(--black-primary);
    color: white;
}


/*--------------------------------------------
----------------------------------------------
        Admin panel Styles Start
----------------------------------------------
--------------------------------------------*/
.admin-panel-container{
    margin: 2rem;
    font-family: var(--primary-font);
}
.admin-panel-header{
    font-family: var(--secondary-font);
    text-align: center;
}
.admin-panel-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.admin-dashboard-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-secondary);
    margin: 1rem;
    width: 25%;
    height: 30rem;
}
.admin-dashboard-left-side .admin-navigate-button{
    margin: 1rem;
}
.admin-dashboard-left-side .admin-navigate-button button{
    font-family: var(--primary-font);
    background-color: var(--white-primary);
    color: var(--black-primary);
    padding: 0.9rem;
    width: 15rem;
    border: 1px solid var(--black-primary);
}
.admin-dashboard-left-side .admin-navigate-button button:hover{
    background-color: var(--white-secondary);
}
.admin-dashboard-left-side .admin-navigate-button button:active{
    background-color: var(--black-primary);
    color: var(--white-primary);
}
.admin-dashboard-right-side{
    width: 75%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-secondary);
    overflow: scroll;
}

.admin-dashboard-right-side #admin-add-products form .add-product-form-element{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.admin-dashboard-right-side #admin-add-products form .add-product-form-element label{
    display: block;
}
.admin-dashboard-right-side #admin-add-products form .add-product-form-element input{
    width: 20rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--black-primary);
    overflow: hidden;
    text-align: center;
}
#add-product-btn{
    padding: 0.5rem;
}
.admin-dashboard-right-side #admin-add-products form .add-product-form-element input[type="file"]{
    text-align: right;
    background-color: var(--white-primary);
}
#admin-add-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#admin-display-products{
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
#admin-display-products form .display-product-form-element{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#admin-display-products form .display-product-form-element label{
    display: block;
}
#admin-display-products form .display-product-form-element input{
    width: 20rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--black-primary);
    overflow: hidden;
    text-align: center;
}
#admin-display-products a{
    font-family: var(--primary-font);
    color: var(--black-primary);
    width: 15rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
#admin-display-products a:hover{
    background-color: var(--black-primary);
    color: var(--white-primary);
}


#admin-display-orders{
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
#admin-display-orders a{
    font-family: var(--primary-font);
    color: var(--black-primary);
    width: 15rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
#admin-display-orders a:hover{
    background-color: var(--black-primary);
    color: var(--white-primary);
}


#admin-display-appointments{
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
#admin-display-appointments a{
    font-family: var(--primary-font);
    color: var(--black-primary);
    width: 15rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0.1rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
#admin-display-appointments a:hover{
    background-color: var(--black-primary);
    color: var(--white-primary);
}
#admin-display-appointments input[type="date"],
#admin-display-appointments input[type="time"]{
    outline: none;
    border: none;
    background-color: var(--white-secondary);
    font-family: var(--primary-font);
}
#admin-display-appointments input[type="submit"]{
    font-family: var(--primary-font);
    color: var(--black-primary);
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border: none;
    background-color: var(--white-secondary);
}
#admin-display-appointments input[type="submit"]:hover{
    background-color: var(--black-primary);
    color: var(--white-primary);
}